html {
    font-family: "Helvetica";
    background-color: #333;
    color: #aaa;
}

img {
    border: 10px solid #333;
}

.container {
    max-width: 1300px;
    background-color: #111;
    position: relative;
    margin: 50px auto;
    padding: 30px 50px;
}

.bolder {
    font-weight: bold;
}

.header {
    text-align: center;
}

.main-title {
    color: #900;
    font-family: Verdana;
    font-size: 50px;
}

.main-paragraph {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 40px;
}

.featured-image {
    text-align: center;
}

.about {
    text-align: justify;
    margin: 30px 0;
    padding: 30px 0;
    line-height: 20px;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
}

h2 {
    color: #fff;
    font-family: Verdana;
}


.sub-title {
    font-family: Verdana;
    font-weight: bold;
    color: #900;
}

.quote {
    padding: 30px;
    background-color: #333;
}

.quote blockquote {
    font-weight: bold;
    font-size: 30px;
    color: #ccc;
    font-style: italic;
    border-radius: 5px;
}

.quote p{
    font-style: italic;
    padding: 0 30px;
}

.curiosities {
    margin: 30px 0;
    padding: 30px 0;
    line-height: 50px;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
}

.featured-image-2 {
    text-align: center;
    font-weight: bolder;
}

.featured-image-2 img {
    height: 600px;
    width: 800px;
    text-align: center;
}

.more-info {
    margin: 30px;
}

.more-info a {
    text-decoration: none;
    background-color: #333;
    color: #aaa;
    padding: 10px;
    border-radius: 12px;
}