html {
    background-color: #333;
    color: #aaa;
}

img {
    border: 10px solid #333;
}

.container {
    height: 100%;
    margin: 30px 50px;
    background-color: #111;
    padding: 10px;
}

.main-title {
    color: #900;
    font-family: Verdana;
    font-size: 50px;
}

.header {
    text-align: center;
}

.header p {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 40px;
}

.featured-image {
    text-align: center;
}

.about {
    text-align: justify;
    margin: 30px;
    padding: 30px 5px;
    line-height: 20px;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
}

h2 {
    color: #fff;
    font-family: Verdana;
}

.bolder {
    font-weight: bolder;
}

.sub-title {
    font-family: Verdana;
    font-weight: bolder;
    color: #900;
}

.quote blockquote {
    background-color: #333;
    color: #ccc;
    font-style: italic;
    font-weight: bolder;
    font-size: 40px;
    margin: 50px 30px;
    border-radius: 5px;
    padding: 25px 40px;
}

.quote p{
    text-align: left;
    font-size: 30px;
    padding-top: 30px;
    font-weight: normal;
}

.curiosities {
    margin: 30px;
    padding: 30px;
    line-height: 50px;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
}

.featured-image-2 {
    text-align: center;
    font-weight: bolder;
}

.featured-image-2 img {
    height: 600px;
    width: 800px;
    text-align: center;
}

.more-info {
    margin: 30px;
}

.more-info a {
    text-decoration: none;
    background-color: #333;
    color: #aaa;
    padding: 10px;
    border-radius: 12px;
}